<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>
        <main>
            <div class="landing-page">
                <h2>Find or host your next game!</h2>
                <% if (user) { %>
                    <section>Thank you for signing in! Head over to view your games to start creating games today!
                    </section>
                    <a href="/games">View your games</a>
                    <% } else {%>
                        <section>If you are not a registered user, head over to register to sign up and create your own
                            games! Otherwise feel free to checkout the pubicly listed games section without logging in.
                        </section>
                        <a href="/sessions/logon">Log in</a> <a href="/sessions/register">Register</a>
                        <% } %>
                            <a href="/games/all">View All Public Games</a>
            </div>
        </main>
        <%- include("partials/footer.ejs") %>