<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>
       <main>
        <h2>Join or explore games</h2>
    <% if (user) { %> 
        <a href="/games">Click this link to view your games.</a>
        <% } else { %> <a href="/sessions/logon">Click this link to logon.</a> <a href="/sessions/register">Click
            this link to register.</a>
            <% } %> 
            <a href="/games/all">Click this link to view all public games.</a>
                   </main>
                <%- include("partials/footer.ejs") %>